#remote-video {
    width: 320px;
    height: auto;
}

#local-video {
    width: 80px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.videos {
    position: relative;
    width: 320px;
}

/* bootstrap select looks like junk in FF w/o this */
select {
    -moz-appearance: none;
}
