#remote-video {
    width: 320px;
    height: auto;
}

#local-video {
    width: 80px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.videos {
    position: relative;
    width: 320px;
}

/* bootstrap select looks like junk in FF w/o this */
select {
    -moz-appearance: none;
}

body.dragOver #file-drop {
    background:gray;
    display:block;
    height: 100%;
    width: 100%;
    font-size: xx-large;
    opacity:0.9;
} /* During drag */

.drop-text {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    text-align: center;
}

body #file-drop{z-index:1000;position:fixed;top:0;left:0;width:100%;height:100%;display:none;} /* No drag */
